<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>LOGIN / you have already an account</h1>
  <form action="" method="" class="form-login" id="formulaire">
    <div class="form-login">
      <label for="email">Enter your email: </label>
      <input type="email" name="email" id="email" required>
    </div>
    <div class="form-login">
      <label for="password">Enter your password: </label>
      <input type="password" name="password" id="password" required>
    </div>
    <div class="form-login">
      <input type="submit" value="Subscribe!">
    </div>
  </form>
  <h2>apres auhentification et donc generation du token aller a landing page, si pas authentifié on reste sur la page
    login</h2>
  <a href="#"><button id="linkLandingPage">/api/landingpage</button></a>
  <script>
    // recuperation du token en front et sauvegarde dans le localStorage
    // a la submission du form
    console.log('click submit')
    document.getElementById("formulaire").addEventListener('submit', async (event) => {
      event.preventDefault();
      const url = 'http://localhost:5000/api/login';
      console.log('submit')
      const formData = new FormData(event.target);
      console.log('formData:', formData)
      const response = await fetch(url, {
        method: 'POST', // par défaut c'est du GET, donc on précise POST ici pour l'ajout d'une liste
        body: formData // on oublie pas de lui envoyer les infos
      });
      const responsejson = await response.json();
      console.log('responsejson.token:', responsejson.token)
      window.localStorage.setItem('token', responsejson.token)
      console.log('window.localStorage:', window.localStorage)
    })

    document.getElementById("linkLandingPage").addEventListener('click', async (event) => {
      console.log('click landingpage')
      const token = localStorage.getItem('token');
      console.log('token:', token)

      if (!token) {
        /* Traitement dans le cas où aucun token n'existe dans le localStorage */
        console.log('pas de token')
      }

      /* Le localStorage stocke les données sous forme de chaines de caractères nous transformons donc la donnée en JSON */
      // token = JSON.parse(token);

      /* On créer l'en-tête Authorization contenant le JWT */
      const headers = new Headers();
      headers.append('Authorization', 'bearer ' + token);

      const options = {
        method: 'GET',
        mode: 'cors',
        headers
      };

      /* On effectue la requête */
      const url = 'http://localhost:5000/api/landingpage'
      await fetch(url, options);

    })



  </script>
</body>

</html>